@media (max-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: "Public Sans", sans-serif;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  .container-header {
    display: flex;
    padding: 1.2rem 1.6rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 11;
  }

  .header,
  .request-button {
    display: none;
  }

  #hamburger {
    background: none;
    border: none;
  }

  #mobilesphoto {
    width: 100%;
    order: -1;
    margin-top: -8.4rem;
    clip-path: none;
  }

  .section-top {
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 230, 230, 0.326);
    background-image: url("./images/bg-intro-mobile.svg");
    background-position: 100% -5.5rem;
    background-repeat: no-repeat;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .text {
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }

  #section-top-desc {
    font-size: 0.85rem;
    color: rgb(163, 163, 163);
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: rgb(163, 163, 163);
  }

  #request {
    height: 2rem;
    padding: 0.5rem 1.6rem;
    padding-bottom: 1.8rem;
    border-radius: 7rem;
    border: none;
    color: white;
    font-weight: 800;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
  }

  .section-middle {
    display: flex;
    background-color: rgba(240, 248, 255, 0.741);
  }

  .headingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 2rem;
  }

  .headingContainer h1 {
    font-size: 2.2rem;
  }

  #section-middle-desc {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 1rem;
    color: rgb(163, 163, 163);
    line-height: 1.5rem;
    color: rgb(163, 163, 163);
  }

  .section-middle-container {
    padding: 1rem;
    color: rgb(163, 163, 163);
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin: 0;
    gap: 2rem;
    color: rgb(163, 163, 163);
  }

  #h {
    color: black;
  }

  #article-heading {
    padding-top: 6rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(11, 11, 77);
  }

  .articles {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  #article-image {
    border-radius: 5% 5% 0 0;
    width: 100%;
    height: 13rem;
  }

  .article-1 {
    border-radius: 5%;
    background-color: white;
    margin: 1rem;
    padding-bottom: 2rem;
  }

  .article-2 {
    border-radius: 5%;
    background-color: white;
    margin: 1rem;
    padding-bottom: 2rem;
  }

  .article-3 {
    border-radius: 5%;
    background-color: white;
    margin: 1rem;
    padding-bottom: 1rem;
  }

  .article-4 {
    border-radius: 5%;
    background-color: white;
    margin: 1rem;
    padding-bottom: 1rem;
  }

  .article-list {
    background-color: rgba(233, 230, 230, 0.326);
  }

  .article-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding: 2rem;
    color: rgb(163, 163, 163);
    font-size: 0.65rem;
  }

  .article-text #article-desc {
    font-size: 0.8rem;
  }

  #article-title {
    font-size: 1.1rem;
    color: black;
    color: rgb(11, 11, 77);
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 17, 49, 0.919);
    gap: 2rem;
    padding-bottom: 3rem;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 1em;
    padding-bottom: 0.7em;
  }

  .closing-tag {
    margin: 2rem;
    margin-bottom: 0;
    padding: 4rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .footerlogos {
    display: flex;
    scale: 1.3;
    justify-content: space-between;
  }

  .request-button3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #request3 {
    height: 2rem;
    padding: 0.5rem 1.6rem;
    padding-bottom: 1.8rem;
    border-radius: 7rem;
    border: none;
    margin: 0 4rem 0 4rem;
    color: white;
    font-weight: 800;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
  }

  .copyright {
    color: white;
  }

  #col1 {
    color: white;
  }

  #col2 {
    color: white;
  }
  .menu {
    display: none;
    position: absolute;
    padding-top: 10%;
    top: 5rem;
    left: 0rem;
    width: 100%;
    height: 200%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.609);
    line-height: 2.5rem;
  }

  .headermobile {
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 20%;
    width: 90%;
    font-size: 100%;
    display: flex;
    margin-left: 1.3rem;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .headermobile a {
    color: black;
  }
  #headingbold {
    color: rgb(11, 11, 77);
    font-size: 2.5rem;
  }

  #h {
    color: rgb(11, 11, 77);
  }
}

.feature-1 {
  line-height: 1.4rem;
}

.feature-2 {
  line-height: 1.4rem;
}

.feature-3 {
  line-height: 1.4rem;
}

.feature-4 {
  line-height: 1.4rem;
}

@media (min-width: 475px) {
  body {
    justify-content: center;
    height: 180vh;
    margin: 0;
    font-family: "Public Sans";
    overflow-x: hidden;
  }

  .container-header {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: white;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  .header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }

  .request-button {
    display: flex;
    height: 100%;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
  }

  #request {
    padding: 0.8rem 1.6rem;

    border-radius: 7rem;
    border: none;
    color: white;
    font-weight: 800;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
  }

  .easybank {
    display: flex;
    flex-grow: 2;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .section-top {
    display: flex;
    height: 50rem;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: rgba(233, 230, 230, 0.326);
    background-image: url("./images/bg-intro-desktop.svg"),
      url("./images/bg-top.svg");
    background-position: 145% 100%;
    background-repeat: no-repeat;
  }

  #mobilesphoto {
    scale: 1.4;
    flex-basis: 40rem;
    width: 20rem;
    height: 100%;
    clip-path: inset(7.15rem 0 0 0);
  }

  #headingbold {
    margin-left: 16.7rem;
    font-size: 4rem;
    width: 40rem;
    color: rgb(11, 11, 77);
  }

  #section-top-desc {
    margin-left: 16.7rem;
    font-size: 1.2rem;
    width: 30rem;
    color: rgb(163, 163, 163);
  }

  .request-button2 {
    margin-top: 2rem;
    margin-left: 16.7rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-basis: 76rem;
  }

  .section-middle {
    display: flex;
    background-color: rgba(240, 248, 255, 0.741);
    padding: 4.5rem;
  }

  .empty {
    flex-basis: 20%;
  }

  .section-middle-container {
    display: flex;

    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    color: rgb(163, 163, 163);
  }

  .article-list {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    padding-left: 10rem;
    padding-right: 14rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-content: center;
    background-color: rgba(233, 230, 230, 0.326);
  }

  #article-heading {
    margin-bottom: 4rem;
    font-size: 3rem;
  }

  .footer {
    border: 2px solid;
  }

  .section-middle-heading {
    flex-basis: 80%;
    padding-left: 8rem;
  }

  .headingContainer {
    margin-left: 0;
    margin-top: 6rem;
    font-size: 2rem;
    padding-right: 3rem;
  }

  .feature-1 {
    width: 18%;
  }

  .feature-2 {
    width: 18%;
  }

  .feature-3 {
    width: 18%;
  }

  .feature-4 {
    width: 18%;
  }

  .articles {
    display: flex;
    padding: 1.5rem;
    gap: 2.5rem;
    justify-content: space-between;
    margin-bottom: 5.5rem;
  }

  .article-1 {
    width: 30%;
    border-radius: 5%;
    background-color: white;
  }

  .article-2 {
    width: 30%;
    border-radius: 5%;
    background-color: white;
  }

  .article-3 {
    width: 30%;
    border-radius: 5%;
    background-color: white;
  }

  .article-4 {
    width: 30%;
    border-radius: 5%;
    background-color: white;
  }

  #article-heading {
    margin-top: 2rem;
    margin-left: 2rem;
    color: rgb(11, 11, 77);
  }

  #article-image {
    border-radius: 5% 5% 0 0;
    width: 100%;
    height: 12rem;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8%;
    font-size: 0.6rem;
    color: rgb(163, 163, 163);
  }

  .article-text #article-title {
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  #article-title {
    color: rgb(11, 11, 77);
  }

  .article-text #article-desc {
    font-size: 0.8rem;
  }

  #section-middle-desc {
    font-size: 1.52rem;
    width: 55rem;
    padding-bottom: 5rem;
    color: rgb(163, 163, 163);
  }

  footer {
    display: flex;
    height: 30vh;
    justify-content: center;
    background-color: rgba(17, 17, 49, 0.919);
  }

  #footerlogotop {
    margin-top: 3rem;
  }

  .closing-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3.5rem;
  }

  .footerlogos {
    display: flex;
    gap: 1rem;
  }

  .footer {
    flex-basis: 50rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    border: 0px solid;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 13rem;
    gap: 1.5rem;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 1.5rem;
  }

  #col1 {
    color: white;
  }

  #col2 {
    color: white;
  }

  .copyright {
    color: white;
  }

  .request-button3 {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    align-items: end;
    gap: 2rem;
    margin-right: 3rem;
  }

  #request3 {
    padding: 0.8rem 1.6rem;

    border-radius: 7rem;
    border: none;
    color: white;
    font-weight: 800;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
  }

  #hamburger {
    display: none;
  }

  #h {
    color: rgb(11, 11, 77);
  }

  .headermobile {
    display: none;
  }
}
